# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local settings
config.local.json
data/db_schema_vectorstore/db_index.faiss
data/db_schema_vectorstore/db_index.pkl
data/db_schema_vectorstore/index - 복사본.faiss
data/db_schema_vectorstore/index - 복사본.pkl
data/doc_vectorstore/index - 복사본.faiss
data/doc_vectorstore/index - 복사본.pkl
data/doc_vectorstore/rule_doc/rule_index.faiss
data/doc_vectorstore/rule_doc/rule_index.pkl
data/doc_vectorstore/settle_doc/settle_index.faiss
data/doc_vectorstore/settle_doc/settle_index.pkl
piplist.txt
data/2025_정산규칙_해설서.pdf
